* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #664488;
    --white: #fff;
    --gray: #888;
}

body {
    font-family: Roboto, sans-serif;
    color: black;
}

.container {
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    display: inline-block;
    margin-bottom: 40px;
}

footer.container {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* HEADER */

.logo {
    height: 30px;
    float: left;
    object-fit: contain;
    object-position: top left;
}
.main-menu {
    float: right;
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
}
.main-menu > .link {
    color: #000;
    text-decoration: none;
    margin-left: 30px;
}
.main-menu > .link:hover {
    text-decoration: underline;
}
.main-menu > .link:nth-child(1) {
    margin-left: 0;
}
.main-menu > .no-margin {
    margin-left: 0;
}

/* MAIN */

.left-column {
    width: 40%;
    float: left;
    margin-top: 50px;
}

.main-title {
    display: inline-block;
    width: 100%;
    font-size: 50px;
    position: relative;
}
 .main-title > span {
    font-weight: normal;
 }

 h1::before {
    content: "";
    position: absolute;
    height: 5px; 
    width: 32%;
    background-color: var(--main-color);
    bottom: -5px;
 }

.description {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--white);
    padding: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 1em;
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1.5em;
    border: 0.2em solid var(--main-color);
}

.btn:hover {
    background-color: var(--white);
    color: var(--main-color);
}

.btn.btn-light {
    background-color: var(--white);
    color: var(--main-color);
}

.btn.btn-light:hover {
    background-color: var(--main-color);
    color: var(--white);
}


.right-column {
    width: 60%;
    float: right;
    margin-right: -30px;
}

/* FOOTER */

footer {
    height: 50px;
}
.socials {
    font-size: 18px;
}

.socials > .link {
    color: var(--gray);
    opacity: 40%;
    padding: 10px;
    text-decoration: none;
}

.socials > .link:hover {
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 50%;
    opacity: 100%;
}

.copyright {
    font-size: 12px;
}




